@import "tailwindcss";
@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-primary: rgba(0, 42, 90, 1);
  --color-secondary: rgba(24, 63, 106, 1);
  --color-accent:rgba(62, 220, 205, 1);
  --color-text: rgba(127, 149, 172, 1);

  /* ... */
}